header {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    width : 100%;
    height : 10vh;
    background: linear-gradient(to right, #2E6F95, #455E89, #5C4D7D, #723C70, #892B64);
    color: white;
    align-items: center;
}

header:a {
    font-size: 1.2rem;
}

main {
    display: block;
    width : 100%;
    height : 90vh;
    background: linear-gradient(to right, #2E6F95, #455E89, #5C4D7D, #723C70, #892B64);
}

footer {
    display: block;
    width : 100%;
    height: 10vh;
}

.icone {
    height : 3rem;
    width : 3rem;
    background-image: url("../img/webdev.svg");
    background-size: cover;
}

.link {
}

.block1 {
    color: white;
    font-family: 'Cabin';
    display: flex;
    justify-content: space-around;
    height: 60vh;
}

.blockName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.bigIcon {
    height : 60vh;
    width: 50vh;
    background-image: url("../img/webdev.svg");
    background-size: cover;
}

.name {
    font-family: 'Cabin', sans-serif;
    font-size: 6rem;
    font-weight: 700;
}

.subtext {
    font-family: "Cabin";
    font-size : 3rem;
    font-weight: 700;
}
